<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Spring Boot Time Series using GridDB - Event List</title>

    <link href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin@7.0.5/dist/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables-simple-demo.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2" crossorigin="anonymous"></script>
    <script src="http://localhost:35729/livereload.js"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" th:href="@{/}">Main</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!--        <div class="input-group">-->
            <!--            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />-->
            <!--            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>-->
            <!--        </div>-->
        </form>

    </nav>
    <div id="layoutSidenav">
        <div th:insert="~{fragments/navbar}">This content will be gone</div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Event Tracking</h1>
                    <div class="card mb-4">
                        <div class="card-body">
                            Chart
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Count by Date
                        </div>
                        <div style="height:auto; width: 800px;"><canvas id="charts"></canvas>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Count by Event Type
                        </div>
                        <div style="height:auto; width: 800px;"><canvas id="charts2"></canvas>
                        </div>
                    </div>
                </div>
            </main>
            <div th:insert="~{fragments/footer}">This content will be gone</div>
        </div>
    </div>
    <script th:inline="javascript">
        Chart.register(ChartDataLabels);
        const ctx = document.getElementById('charts');

        const data = /*[[${aggregates}]]*/[
            { timeLabel: "2023-07-01", count: 10 }
        ];

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.map(row => row.timeLabel),
                datasets: [{
                    label: 'Count by Date',
                    data: data.map(row => row.count),
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    datalabels: {
                        color: 'white',
                        font: {
                            weight: 'bold'
                        }
                    }
                }
            }
        });

        const ctx2 = document.getElementById('charts2');

        const data2 = /*[[${aggregatesByType}]]*/[
            { label: "type1", count: 10 }
        ];

        new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: data2.map(row => row.label),
                datasets: [{
                    label: 'Count by Type',
                    data: data2.map(row => row.count),
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    datalabels: {
                        color: 'white',
                        font: {
                            weight: 'bold'
                        }
                    }
                }
            }
        });
    </script>
</body>

</html>